{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "singleQuote": true,
  "trailingComma": "all",
  "svelteSortOrder": "styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false
}
